{{define "/im/index.shtml"}}
<!DOCTYPE html>
<html>
<head>
<!--js include-->
{{template "/im/head.shtml"}}
</head>
<body>
<!--底部菜单-->
{{template "/im/tabmenu.shtml"}}
<header class="mui-bar mui-bar-nav">
</header>
<div class="mui-content" id="pageapp">
    <!--联系人-->
    {{template "/im/concat.shtml"}}
    <!--群聊-->
    {{template "/im/group.shtml"}}
    <!--个人中心-->
    {{template "/im/profile.shtml"}}
    <!--聊天主界面-->
    {{template "/im/main.shtml"}}

</div>
</body>
</html>
{{template "/im/foot.shtml"}}
{{end}}